<header>
    <h1>Placement Cell</h1>

    <ul id="access">
            <li> <a href="/employee/profile">Name</a></li>
            <li> 
                <a href="/employees/sign-out"> Sign Out</a>
            </li>

            <li>
                <a href="/employees/sign-in"> Sign In</a>
            </li>

            <li>
                <a href="/employees/sign-up"> Sign Up</a>
            </li>
    </ul>
</header>

